@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

html {
  background-color: lightgrey;
}

* {
  font-family: "Merriweather", serif;
}

a,
a:visited,
a:hover {
  color: red;
}

#tagline {
  text-align: center;
  font-style: italic;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
